.resultImg {
  /* margin-top: 3rem; */

  max-width: 500px;
  background-image: rgb(161, 224, 226);
}

.imageHolder {
  width: 500px;
}

.imageHolder img {
  width: 490px;
}

.resultImg p {
  font-size: 1rem;
  word-wrap: break-word;
  cursor: pointer;
}

.resultImg form {
  background-color: rgb(161, 224, 226);
  width: 500px;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resultImg input {
  margin: 1rem auto;
  outline: none;
  outline-offset: 0;
  background-color: rgb(161, 224, 226);
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.resultImg input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  font-size: 1rem;
}

.resultImg button {
  display: none;
}
