* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: azure;
}

.button-holder {
  position: fixed;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forminput {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  min-height: 10rem;
}
.remove-button {
  margin: 1rem;
  font-size: 1rem;
  color: red;
  cursor: pointer;
}
.remove-answer-button {
  color: red;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin: 0.5rem;
}

.image-holder {
  width: 300px;
  height: 300px;

  background-size: cover;
  background-position: center;
}

.question-img {
  width: inherit;
}
.answer-id {
  visibility: hidden;
}

.testHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headers {
  margin-top: 1rem;
  margin-bottom: -2rem;
  color: cadetblue;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  color: aliceblue;
  border: none;
  background-color: cadetblue;
}

.remove-test-card {
  margin-left: 95%;
  margin-bottom: 0.1rem;
  font-size: 2rem;
  background-color: transparent;
  color: cadetblue;
  transition: all 0.3s ease-in-out;
}

.remove-test-card:hover {
  transform: scale(1.2) rotate(90deg);
}

.results-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result {
  margin-top: 0px;
  margin-bottom: 0px;
}
