* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: azure;
}

.button-holder {
  position: fixed;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forminput {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  min-height: 10rem;
}
.remove-button {
  margin: 1rem;
  font-size: 1rem;
  color: red;
  cursor: pointer;
}

.image-holder {
  width: 300px;
  height: 300px;

  background-size: cover;
  background-position: center;
}

.question-img {
  width: inherit;
}
.answer-id {
  visibility: hidden;
}

.testHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headers {
  margin-top: 1rem;
  margin-bottom: -2rem;
  color: cadetblue;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  color: aliceblue;
  border: none;
  background-color: cadetblue;
}

.active-button {
  background-color: rgb(161, 224, 226);
  color: cadetblue;
}

.navigate {
  transition: all 0.3s ease-in-out;
}

.navigate:hover {
  color: cadetblue;
  background-color: rgb(161, 224, 226);
  transform: scale(1.2);
}

.navigate:active {
  -webkit-box-shadow: 4px -4px 25px 0px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 4px -4px 25px 0px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 4px -4px 25px 0px rgba(34, 60, 80, 0.2) inset;
}

.remove-test-card {
  margin-left: 95%;
  margin-bottom: 0.1rem;
  font-size: 2rem;
  background-color: transparent;
  color: cadetblue;
  transition: all 0.3s ease-in-out;
}

.remove-test-card:hover {
  transform: scale(1.2) rotate(90deg);
}

.results-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Возможно убрать*/
.addNewAnswerButton {
  margin-top: -2rem;
  width: 10%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.addNewAnswerButton:hover {
  transform: scale(1.2);
}

.addNewAnswerButton:active {
  transform: scale(1);
  background-color: rgb(161, 224, 226);
}

/*Модальное окно*/
.modal-window {
  position: fixed;
  top: 10vh;
  left: 10vw;
  border-radius: 10px;
  max-width: 700px;

  max-height: 300px;
  background-color: rgb(161, 224, 226);
  color: aliceblue;
  display: none;
  flex-direction: row;
  font-size: 0.8rem;
  padding: 2px;
  border: 5px solid cadetblue;
  color: aliceblue;
}

.preview-holder {
  max-width: 200px;
  margin: 1rem;
}

.thumb-image img {
  max-width: 200px;
  width: 5rem;
  margin-top: 3px;
}

.preview-holder:hover {
  border: 1px solid aliceblue;
}
